

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Mouse Memoirs', sans-serif; */
  font-family: 'Cairo', sans-serif;
  /* color: #fff; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); */
  background: url(../public/bg-pattern.png);
  background-repeat: repeat;
  text-align: center;
}
